.reach-article-list-widget {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  column-gap: 20px;
}

.reach-article-list-widget--grid {
  grid-auto-flow: unset;
  row-gap: 0;
  grid-gap: 1.5rem 1rem;
}

@media (min-width: 600px) {
  .reach-article-list-widget--grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .reach-article-list-widget--grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}