.article-link__root {
  display: grid;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .article-link__root {
    grid-auto-flow: column;
    column-gap: 20px;
  }
}

@media (max-width: 767px) {
  .article-link__root {
    grid-auto-flow: row;
    row-gap: 20px;
  }
}

.article-link__root--materialize {
  background-color: var(--reach-backgroundcolor-3);
}

.article-link__image {
  display: flex;
  align-items: flex-start;
  max-width: 300px;
}

@media (max-width: 767px) {
  .article-link__image {
    max-width: 100%;
  }
}

.article-link__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 3px 12px -1px #070a19 33, 0 22px 27px -20px #070a19 33;
  transition: all 0.3s ease;
}

.article-link__image img:hover {
  box-shadow: 0 15px 45px -5px #070a19 40;
  filter: brightness(1.1);
}

.article-link__root--materialize .article-link__image img,
.article-link__root--materialize .article-link__image img:hover {
  box-shadow: none;
}

.article-link__root--materialize .article-link {
  padding: 25px;
}

.article-link__image--height-small img {
  height: 60%;
}

@media (max-width: 767px) {
  .article-link__image--height-small img {
    height: 160px;
  }
}

.article-link__image--height-medium img {
  height: 80%;
}

@media (max-width: 767px) {
  .article-link__image--height-medium img {
    height: 200px;
  }
}

.article-link__image--height-large img {
  height: 100%;
}

@media (max-width: 767px) {
  .article-link__image--height-large img {
    height: 240px;
  }
}

.article-link__title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.article-link__title__a,
.article-link__title__a:hover,
.article-link__title__a:active,
.article-link__title__a:focus,
.article-link__more__a,
.article-link__more__a:hover,
.article-link__more__a:active,
.article-link__more__a:focus {
  box-shadow: none;
  text-decoration: none;
  border: none;
}

.article-link__title__a {
  color: var(--reach-foregroundcolor-2);
  font-size: var(--reach-article-list-title-font-size);
  line-height: var(--reach-article-list-title-font-line-height);
  font-weight: var(--reach-article-list-title-font-weight);
  transition: color 250ms ease-in-out;
}

.article-link__title__a:hover,
.article-link__title__a:active,
.article-link__title__a:focus {
  color: var(--reach-color-primary);
}

.article-link__description {
  color: var(--reach-foregroundcolor-1);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--reach-article-list-description-font-font-size);
  font-weight: var(--reach-article-list-description-font-font-weight);
  line-height: var(--reach-article-list-description-font-line-height);
}

.article-link__more {
  display: flex;
  justify-content: flex-start;
}

.article-link__more__a {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 6px;
  margin-bottom: 10px;
  color: var(--reach-foregroundcolor-1);
  font-size: 12px;
  line-height: 1.7;
  font-weight: 400;
  transition: color 250ms ease-in-out;
}

.article-link__more__a:hover,
.article-link__more__a:active,
.article-link__more__a:focus {
  color: #dea112;
}

.article-link__category {
  color: #dea112;
}
