a {
  box-shadow: none;
  text-decoration: none;
  border: none;
  /* border-bottom: 1px dotted transparent; */
  color: inherit;
  transition: color 175ms ease-in-out, border-color 175ms ease-in-out;
}


a:hover,
a:active,
a:focus {
  /* border-color: var(--theme-white-100i); */
  text-decoration: underline;
}

.reach-dark a:hover,
.reach-dark a:active,
.reach-dark a:focus {
  /* border-color: var(--theme-black-100i); */
}