.reach-article-list-widget {
    --reach-article-list-title-font-size: 24px;
    --reach-article-list-title-font-weight: 600;
    --reach-article-list-title-line-height: 1.5;
    --reach-article-list-description-font-size: 14px;
    --reach-article-list-description-font-weight: 400;
    --reach-article-list-description-line-height: 1.5;
    --reach-article-list-category-font-size: 12px;
    --reach-article-list-category-font-weight: 600;
    --reach-article-list-category-line-height: 1.5;
}
