.create-article-item {
  padding-bottom: 60px;
}

.create-article-item__container {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.create-article-subtitle {
  color: var(--reach-foregroundcolor-4);
}

.create-article-item__body {
  border: 1px solid var(--reach-backgroundcolor-2);
  padding: 10px;
}

.view-article__container {
  padding-bottom: 60px;
}

.view-article__footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  left: 0;
  right: 0;
  padding: 0 20px;
  // border-top: 1px solid var(--color-global-dark);
}

.view-article__footer__left {
  display: flex;
  align-items: center;
}
.view-article__footer__right {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
}
