.article-meta__date {
  color: var(--reach-foregroundcolor-3);
  font-size: 12px;
}
.article-meta {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.article-meta__view {
  display: grid;
  align-items: center;
  padding: 2px 8px;
  border-radius: 6px;
  background-color: var(--reach-backgroundcolor-2);
  font-size: 12px;
}
