.spotlight-link__root {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 380px;
}
.spotlight-link__root--height-small {
  height: 300px;
}
.spotlight-link__root--height-medium {
  height: 350px;
}
.spotlight-link__root--height-large {
  height: 400px;
}
.spotlight-link {
  position: absolute;
  bottom: 0;
  padding: 20px;
  z-index: 2;
}

.spotlight-link__image::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  opacity: 1;
  margin: 0;
  transition: opacity 0.25s ease;
}

.spotlight-link__image img {
  display: block;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.spotlight-link {
  text-align: center;
}
.spotlight-link,
.spotlight-link__container {
  display: grid;
  justify-items: center;
}
.spotlight-link__description {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.spotlight-link__description a {
  text-decoration: none;
  color: #fff;
}
.spotlight-link__category {
  background-color: var(--reach-color-secondary);
  color: var(--reach-color-secondary-i);
  display: inline-block;
  padding: 2px 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
