.featured-article-item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
}
.featured-article-item__image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-shadow: 0 3px 12px -1px #070a1933, 0 22px 27px -20px #070a1933;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 15px 45px -5px #070a1940;
    filter: brightness(1.1);
    transform: translate(0, -2px);
  }
}
.featured-article-item__right {
  display: grid;
  grid-auto-flow: row;
  row-gap: 4px;
  align-content: flex-start;
}
.featured-article-item__right__title {
  margin-bottom: 0px;
  line-height: 14px;
}

.featured-article-item__title__a {
  font-weight: 500;
}
