* {
  --oak-app-layout-topbar-height: 50px;

  --reach-font-family: 'Raleway', sans-serif;

  --reach-foregroundcolor-1: var(--color-1);
  --reach-foregroundcolor-2: var(--color-2);
  --reach-foregroundcolor-3: var(--color-3);

  --reach-backgroundcolor-1: var(--color-global);
  --reach-backgroundcolor-2: var(--color-container);
  --reach-backgroundcolor-3: var(--color-surface);

  --reach-color-primary: rgb(0, 183, 255);
  --reach-color-primary-i: #fff;
  --reach-color-primary-dark: rgb(3, 157, 218);
  --reach-color-primary-dark-i: #fff;
  --reach-color-secondary: rgb(153, 0, 255);
  --reach-color-secondary-i: #fff;
  --reach-color-secondary-dark: rgb(135, 0, 224);
  --reach-color-secondary-dark-i: #fff;

  --reach-tag-backgroundcolor: var(--color-global-dark);
  --reach-tag-foregroundcolor: var(--color-global-dark-i);
  --reach-tag-backgroundcolor-hover: var(--color-global-darker);
  --reach-tag-foregroundcolor-hover: var(--color-global-darker-i);
  --reach-tag-borderradius: 0px;
  --reach-tag-padding: 6px 16px;
  --reach-divider-color: var(--color-global-darkest);

  --reach-homepage-padding: 0 20px;
  --reach-articlepage-padding: 4em;
  --reach-articlepage-maxwidth: 1000px;
}
@media (max-width: 767px) {
  * {
    --reach-articlepage-padding: 16px;
  }
}
@media (max-width: 999px) {
  * {
    --reach-homepage-padding: 0 16px;
  }
}

.reach-inline-children > * {
  display: inline;
}
