.search-criteria-highlight {
  text-align: center;
}
.search-results-section .search-results-container {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}
.list-section {
  display: grid;
  grid-auto-flow: row;
  margin: 40px 0 0 0;
}
.search-alternate-section {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}
.search-alternate-section .no-article-match-message {
  color: var(--reach-color-failure);
}
.search-alternate-section .no-article-match-action {
  display: grid;
  grid-auto-flow: row;
  justify-content: flex-start;
  row-gap: 10px;
}
.list-section__more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}
