.reach-comments-widget-view__meta {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.reach-comments-widget-view__meta__left {
    height: 36px;
    width: 36px;
    border-radius: 36px;
    margin-right: 12px;
}

.reach-comments-widget-view__meta__right__bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.reach-comments-widget-view__description {
    padding-left: 48px;
    margin-top: 8px;
}