.reach-comments-widget-metadata {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.reach-comments-widget-metadata__left {
    margin-right: 12px;
}

.reach-comments-widget-metadata__right__bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.reach-article-view-widget-comment-view__description {
    padding-left: 48px;
    /* padding-top: 40px; */
}