.info-section {
  margin-bottom: 20px;
  background-color: var(--reach-backgroundcolor-2);
  color: var(--reach-foreground-2);
  box-shadow: var(--oak-bs-elevation0);
  padding-top: var(--oak-padding-vertical5);
  padding-bottom: var(--oak-padding-vertical5);
  padding-left: var(--oak-padding-horizontal2);
  padding-right: var(--oak-padding-horizontal2);
}
.info-section__container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
