.reach-author-profile-widget {
    padding: 40px 20px;
    width: 256px;
    max-width: 95vw;
    background-color: var(--theme-primary-500);
    color: var(--theme-primary-500i);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reach-author-profile-widget--horizontal {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
}

.reach-author-profile-widget--horizontal .reach-author-profile-widget__text {
    margin-left: 40px;
}

.reach-author-profile-widget img {
    width: 176px;
    height: 176px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.reach-author-profile-widget--horizontal img {
    margin-bottom: 0;
}

.reach-author-profile-widget p {
    margin-bottom: 0px;
}